<html>
    <head>
        <link href="css/login.css" rel="stylesheet">
    </head>
    <body>
        <div ng-controller="login_controler" class="login">
            <div ng-hide class="center-text">
                <h3 ng-hide="myVar">prihlasenie</h3>
                <form method="POST">
                    <div>
                        <span>meno</span>
                        <input type="text" name="meno" ng-model="name" placeholder="zadajte meno"  required>
                    </div>
                    <div>
                        <span>heslo</pspan>
                        <input type="password" name="heslo" ng-model="password" placeholder="zadajte heslo" required>
                    </div>
                    <input type="submit" ng-click="kontrolaPrihlasenia()" ng-model="potvrdenie" value="Login">
                </form>
            </div>
        </div>
    </body>
</html>