<div class="logo">
    <a href="index.php?page=prispevky">
        <img src="images/logo.png" alt="temporary picture" width="100" height="100">
        <h1>SLVS</h1>
    </a>
</div>
<div class="menu dropdown" ng-controller="menu_controler">
    <span class="d-block d-lg-none drop">menu</span>
    <ul class="col-12 center-block center-text">
        <li class="d-block d-lg-inline"><a href="index.php?page=prispevky">Príspevky</a></li>
        <li class="d-block d-lg-inline"><a href="index.php?page=ucivo">Učivo</a></li>
        <li class="d-block d-lg-inline"><a href="index.php?page=ucivo">Úlohy</a></li>
        <li class="d-block d-lg-inline"><a href="index.php?page=plan_aktivit">Plán aktivít</a></li>
        <li class="d-block d-lg-inline" ng-if="!prava.prihlaseny"><a href="index.php?page=login">Prihlásiť</a></li>
        <li class="d-block d-lg-inline" ng-if="prava.admin"><a href="index.php?page=profily">Pridať účet</a></li>
        <li class="d-block d-lg-inline" ng-if="prava.prihlaseny"><a href="index.php" ng-click="odhlasenie()">Odhlásiť sa</a></li>
    </ul>
</div>
<div>