
/*.menu {
    background-color:#ccc;
    text-align: center;
    border-radius: 2px 2px 5px 5px;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    display: block;
    list-style-type: none;
}

.menu li {
    list-style-type: none;
    border-right: 1px solid black;
    position: relative;
}

.menu li:nth-child(2) {
    border-left: 1px solid black;
}

.menu ul a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu ul a:hover {
    transition: color 0.1s;
    color: #555;
}

.menu ul li ul {
    display: none;
    position: absolute;
    background-color: #ccc;
}

.menu li ul li{
    border: 1px solid black;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul li ul li ul {
    display: none;
    position: absolute;
}

.menu ul li:hover ul li ul {
    display: none;
}

.menu ul li ul li:hover ul {
    display:inline-block;
}*/

.logo h1 {
    display: inline;
    color: black;
    vertical-align: middle;
}

.logo a:hover {
    text-decoration: none;
}

.menu span {
    margin: 0;
    padding: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
    background-color:#888;
}

.menu li{
    margin: 0;
    padding: 0;
    font-size: 34px;
}

.menu li a {
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    /*border-right: 1px solid black;*/
}

.menu li a:hover {
    text-decoration: none;
    color: #555;
}

.center-text{
    text-align: center;
}

.drop {
    margin: 10px;
    background-color: #555;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    color: #FFF;
}

.dropdown {
    display: block;
    max-height: 50px;
    overflow: hidden;
    transition: 2s;
}

.dropdown:hover {
    max-height: 1000px;
}