.ucivo div{
    background-color: rgb(240, 240, 240);
    padding: 5px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ucivo span{
    font-size: 25px;
}

.ucivo form span{
    font-size: 20px;
}

.ucivo ul span {
    font-size: 20px;
    font-weight: bold;
}